body{
    color: white;
}

#whole{
    margin-top: 5%;
    margin-left: 20%;
    width: 60vw;
    text-align: center;
    border: 1px solid white;
    height: 80vh;
    border-radius: 2em;
}

h1{
    font-size: 4em;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5em;
}

#button{
    width: 10vw;
    height: 4vh;
    margin-left: 30%;
    font-family: 'Sora', sans-serif;
    background-color: white;
    font-weight: bolder;
    border: 1px solid white;
}

label{
    margin-top: 3%;
    padding-right: 20%;
    text-align: right;
}

#button:hover{
    background-color: tomato;
    height: 4.5vh;
    
}

#inp{
    width: 20vw;
    height: 4vh;
    font-size: 1em;
    padding: 1%;
}

span{
    color: red;
    font-size: 0.75em;
}